.nav{
    padding:50px;
    background-color: rgb(38, 38, 107);
    font-size: larger;
    font:bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}