<ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#" style="color: rgb(188, 126, 44);">Quick Links</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="" style="color: rgb(247, 247, 247);">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="AboutUs" style="color: rgb(247, 247, 247);">About us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="contactus" style="color: rgb(247, 247, 247);">Contact us</a>
    </li>
    <hr style="color: rgb(247, 247, 247);">
    <br>
    <footer style="color: rgb(247, 247, 247); text-align: center;">
      <p>2003 &copy;All rights reserved. NeST Digital Pvt Ltd.  &nbsp;| Legal Disclaimer &nbsp; |   &nbsp; Disclaimer:Fraud Recruitment Offers| &nbsp;  A NesT Group Company</p>
  </footer>
  </ul>

