
<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://png.pngtree.com/background/20230425/original/pngtree-photo-of-steam-train-driving-along-the-tracks-picture-image_2467745.jpg" class="d-block w-100"  height="400px" alt="couldn't load image">
        <div class="bottom-left">Locomotive</div>
      </div>
    </div>
    <div>
 
      <br>

      <div class="card mb-3" style="max-width:1500px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://t4.ftcdn.net/jpg/06/15/29/89/360_F_615298970_HSmFVpGdQxep1YgXqqicv63utFr1riV7.jpg" style=" width: 800px;height: 300px;" class="img-fluid rounded-start" alt="couldn't load image">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Elevating Locomotive Experiences through Innovative Technologies</h5>
              <p class="card-text">
                
At NeST Digital, we are committed to delivering high-quality solutions that drive innovation in the locomotive sector.

Our competencies in infotainment and displays, rolling stock body control units, and rolling stock power electronics enable us to meet the evolving needs of the industry, providing our clients with state-of-the-art technologies that elevate their locomotive systems to new heights.
             </p>
            </div>
          </div>
        </div>
      </div>
    </div>