
<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://wallpapercave.com/wp/wp3884770.jpg" class="d-block w-100"  height="400px" alt="couldn't load image">
        <div class="bottom-left">Insurance</div>
      </div>
    </div>
<br>


    <div class="card mb-3" style="max-width: 1500px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="https://www.axisbank.com/images/default-source/progress-with-us_new/home-insurance.jpg" style=" width: 800px;height: 300px;" class="img-fluid rounded-start" alt="couldn't load image">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Where Power Meets Production: Redefining Manufacturing & Energy</h5>
            <p class="card-text">
              Our three decades of presence in the Manufacturing & Energy segment and the acquired domain knowledge form the foundation of our offerings to our world-leading customers.
              
              Our knowledge of plant/equipment operational challenges (including OT and IT layer) and expertise in digital technologies is a unique combination, helping us to be a the most valued partner to our customers. We operate in Hi-Tech Factory Automation, Building Automation, Power & Smart Grid, O&G, Water and Equipment & Tools sub-verticals.</p>
          </div>
        </div>
      </div>
    </div>