
<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://www.bhmpics.com/downloads/gis-backgrounds-/21.gis-day-5050-ebooks-new.jpg" class="d-block w-100"  height="400px" alt="couldn't load image">
        <div class="bottom-left">GIS</div>
      </div>
    </div>
    

<br>

    <div class="card mb-3" style="max-width: 1500px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="https://cdn.arcgis.com/sharing/rest/content/items/3a7ede110bc345898eb376a31d219831/resources/1587662752721.jpeg?w=2400" style=" width: 800px;height: 300px;"class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Intelligent business solutions where location matters</h5>
            <p class="card-text">
                NeST GIS is a products and services entity under NeST Digital Technologies, offering advanced geospatial solutions with a focus on government, cadastral, utilities, transportation and facilities management.

                One of the NeST’s key differentiators in the industry is that it is a software development company that has added GIS as a horizontal technology focus area, rather than a ‘mapping’ company attempting software development in GIS. We help to GIS‐enable the business processes of our clients.</p>
            
          </div>
        </div>
      </div>
    </div>

