
<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://wallpapercave.com/wp/wp3112664.jpg" class="d-block w-100"  height="400px" alt="couldn't load image">
        <div class="bottom-left">Aerospace and Defence</div>
      </div>
    </div>
    
<br>


    <div class="card mb-3" style="max-width: 1500px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="../../../assets/defense-en-1506607933.jpg" style=" width: 800px;height: 300px;"class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Pushing boundaries & defending horizons with cutting-edge technologies</h5>
            <p class="card-text">
              NeST Digital partners with prime Global Aerospace OEMs bringing unmatched value to its customers and contributing to evolving modernization of aviation technologies.
              
              We have expertise in vertically integrated supply chain solutions for various domains such as Design & Engineering, Manufacturing, Plastics, Metal, System Integration, Cable Harness, Software Services, and AM support.</p>
            
          </div>
        </div>
      </div>
    </div>