<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://csrbox.org/news/1608642211healthcare%20common.jpg" class="d-block w-100"  height="400px" alt="couldn't load image">
        <div class="bottom-left">Healthcare</div>
      </div>
    </div>

<br>

    <div class="card mb-3" style="max-width: 1500px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="https://www.mobihealthnews.com/sites/default/files/Digital%20Pathology%20%28sanjeri%3AGetty%20Images%29.jpeg" style=" width: 800px;height: 300px;" class="img-fluid rounded-start" alt="couldn't load image">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Promoting digital innovation & excellence in the healthcare industry</h5>
            <p class="card-text">
              Healthcare software development is vital for modern healthcare systems. With advancing technology, providers rely on software solutions to streamline operations, improve patient care, and boost outcomes. NeST Digital offers a range of healthcare software solutions, from patient monitoring to virtual reality simulations for medical training.
              
              These solutions enhance communication, provide real-time patient information, and increase engagement. Embrace the power of technology in healthcare with NeST Digital!</p>
          </div>
        </div>
      </div>
    </div>